
    body {
      margin: 0;
      font-family: Arial;
      display: flex;
      height: 100vh;
    }

    /* IZQUIERDA: JUEGO */
    #game {
      width: 60%;
      background: #2ecc71;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    canvas {
      background: #27ae60;
      border: 3px solid black;
    }

    /* DERECHA: CÓDIGO */
    #code {
      width: 40%;
      background: #ecf0f1;
      padding: 10px;
      display: flex;
      flex-direction: column;
    }

    textarea {
      flex: 1;
      font-family: monospace;
      font-size: 14px;
    }

    button {
      margin-top: 10px;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
    }
  